/*--reset--*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;}
.txt-rt{text-align:right;}
.txt-lt{text-align:left;}
.txt-center{text-align:center;}
.float-rt{float:right;}
.float-lt{float:left;}
.clear{clear:both;}
.pos-relative{position:relative;}
.pos-absolute{position:absolute;}
.vertical-base{	vertical-align:baseline;}
.vertical-top{	vertical-align:top;}
nav.vertical ul li{	display:block;}
nav.horizontal ul li{	display: inline-block;}
img{max-width:100%;}
/*--end reset--*/

body{
    font-family: 'Source Sans Pro', sans-serif;
    background: url(../img/banner.jpg)no-repeat 0px 0px;
    background-size:cover;
    background-attachment: fixed;
}

.main {
    margin: 8em auto 0;
    width: 23%;
    background-color: #fff;
    padding: 3em;
}
h1 {
    font-size: 2em;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
.login-form {
    padding-top:3em;
}
.login-form input[type="text"], .login-form input[type="password"] {
    width: 85%;
    padding: .8em 3em .8em 1em;
    font-size: 0.8em;
    margin: 1em 0;
    outline: none;
    color: #999;
    border: 2px solid #e3e3e3;
    border-radius: 3px;
}
.login-form input[type="text"].error, .login-form input[type="password"].error {
    border: 2px solid #ef7f69;
}

.login-form input[type="text"] {
    background: url(../img/1.png)no-repeat 97% center;
    display: block;
}
.login-form input[type="password"] {
    background: url(../img/2.png)no-repeat 97% center;
    display: block;
}
.login-form input[type="submit"], .login-form button {
    outline: none;
    padding: 0.8em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    color: #fff;
    cursor: pointer;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
    background: #cedce7; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #cedce7 0%, #596a72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.login-form input[type="submit"]:hover, .login-form button:hover {
    color: #000000;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfe7fa+0,6393c1+100;Grey+Blue+3D */
    background: #cfe7fa; /* Old browsers */
    background: -moz-linear-gradient(top,  #cfe7fa 0%, #6393c1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */

    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}


.login-form input[type="submit"].accept:hover, .login-form button.accept:hover {
    color: #ffffff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008a00+0,005700+44,006e2e+100 */
    background: #008a00; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #008a00 0%, #005700 44%, #006e2e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #008a00 0%,#005700 44%,#006e2e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #008a00 0%,#005700 44%,#006e2e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#006e2e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.login-form input[type="submit"].decline:hover, .login-form button.decline:hover {
    color: #ffffff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.text-left {
    float: left;
    width: 55%;
    text-align:center;
}
.text-right  {
    float: right;
    width: 45%;
}
.login-text {
    margin-top: 1.5em;
}
.login-text p {
    font-size: .9em;
}
.login-text p  a{
    color:#999;
}
.login-text p  a:hover{
    color:#000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
h5 {
    text-align: center;
    font-size: 1em;
    margin: 2.5em auto;
    background-color: #EF781F;
    color: #fff;
}

@media(max-width:1440px){
    body{
        background-position: center;
    }
    .login-form input[type="text"], .login-form input[type="password"] {
        width: 83%;
    }
}
@media(max-width:1366px){
    .main {
        margin: 6em auto 0;
        padding: 2.5em 2em;
    }
    .login-form {
        padding-top: 2em;
    }
}
@media(max-width:1080px){
    .main {
        padding: 2.5em 2em 2em;
        width: 30%;
    }
}
@media(max-width:1024px){
    .main {
        padding: 2em;
        margin: 5em auto 0;
    }
    h5 {
        margin: 2em auto;
    }
}
@media(max-width:768px){
    .main {
        padding: 2em;
        margin: 4em auto 0;
        width: 40%;
    }
    .login-form {
        padding-top: 1em;
    }
    .login-form input[type="submit"], .login-form button {
        padding: 0.6em 0;
        font-size: 0.9em;
        margin-top: 0.6em;
    }
    h5 {
        margin: 1.5em auto 2em;
    }
}
@media(max-width:640px){
    h1 {
        font-size: 1.8em;
    }
    .main {
        margin: 5em auto 0;
        width: 47%;
    }
}
@media(max-width:480px){
    .main {
        margin: 4em auto 0;
        width: 54%;
    }
    .login-form input[type="text"], .login-form input[type="password"] {
        width: 79%;
    }
}
@media(max-width:320px){
    h1 {
        font-size: 1.5em;
    }
    .main {
        margin: 2.5em auto 0;
        width: 73%;
        padding: 2em 1.5em 1.5em;
    }
    .login-form input[type="text"], .login-form input[type="password"] {
        width: 78%;
        font-size: 0.7em;
    }
    .login-form input[type="submit"], .login-form button {
        font-size: 0.8em;
        margin-top: 0.5em;
    }
    .login-text p {
        font-size: .85em;
    }
    .text-left {
        width: 45%;
    }
    .text-right {
        width: 47%;
    }
}
